@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-texmex-black text-texmex-text antialiased;
  }
}

/* Custom scrollbar for chat */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.text-shadow-strong {
  text-shadow: 3px 3px 0px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
